<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperLogger-WebServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SuperLogger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D2B79641B5000A100E83E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D2B796F1B5000A200E83E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D4049D21B557B8C00DA719D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D4049DB1B557B8C00DA719D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
