<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperLogger-Console.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SuperLogger-CoreData.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SuperLogger-File.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SuperLogger-WebServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SuperLogger.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SuperLoggerTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5D0149781B62CB11005142B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D0149931B62CB11005142B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D01499E1B62CB11005142B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D2B79641B5000A100E83E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D2B796F1B5000A200E83E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D4049D21B557B8C00DA719D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D4049DB1B557B8C00DA719D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D77F9DE1B57E9D20013F9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D77F9E71B57E9D20013F9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D77F9FA1B57E9DF0013F9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D77FA031B57E9DF0013F9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D77FA231B57F8630013F9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D77FA2C1B57F8630013F9A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
